.footer {
  position: relative;
  font-family: "Roboto";
  margin-top: 16px;
  margin-bottom: 15px;
  font-size: 1.1rem;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
